<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/header') -%>
	<title> - Index - </title>
  </head>
  <body>
	  <div class="container">
		<h1 class="text-center"> Files Storage (0) </h1>
		
		<div>
			<div class="list-group">
				<a href="/u"  class="list-group-item list-group-item-action"> <span> Upload File </span></a>
				<a href="/fl" class="list-group-item list-group-item-action"> <span> Files </span></a>
				<a href="/rl" class="list-group-item list-group-item-action"> <span> Remove (Deprecated) </span></a>
			</div>
		</div>
	  </div>
  </body>
</html>
