<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/header") -%> 
    <title>Document</title>

    <style>
        .body>.present {
            background-color: rgb(29, 57, 141);
            color: white;
        }
    </style>
</head>
<body>
    <%- include("../partials/newNav") -%> 
    
    <div class="body w-100 text-center">
        <div class="present pt-5 pb-5 mb-4">
            <div>
                <div class="mb-4">
                    <span class="fs-1 fw-bold"> Welcome to Files Storage </span>
                </div>
                <div class="container w-75">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br>
                    Cenasti in vita numquam bene, cum omnia in ista Consumis squilla atque acupensere cum decimano. <br> 
                    An me, inquam, nisi te audire vellem, censes haec dicturum fuisse? 
                    Hoc dictum in una re latissime patet, ut in omnibus factis re, non teste moveamur. <br>
                    Nescio quo modo praetervolavit oratio. <br>
                    Quamquam te quidem video minime esse deterritum. <br>
                    Duo Reges: constructio interrete.
                </div>
            </div>
        </div>

        <div class="d-flex mb-4">
            <div class="row m-auto h-100">
                <div class="col mb-1">
                    <div class="card border-secondary h-100 text-center">

                        <div class="card-body">
                            <h5 class="card-title"> Free </h5>
                            <div class="card-text"> 
                                <table class="table table-striped">
                                    <thead>
                                        <th scope="col"> Property </th>
                                        <th scope="col"> Value </th>
                                    </thead>

                                    <tr class="table-success">
                                        <td> Upload files </td>
                                        <td> Unlimited </td>
                                    </tr>

                                    <tr class="table-danger">
                                        <td> Limit File Size </td>
                                        <td> 50MB </td>
                                    </tr>
                                </table>

                                <a href="/" class="btn btn-primary"> Sign Up </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card border-warning h-100 text-center">

                        <div class="card-body">
                            <h5 class="card-title"> Premium </h5>
                            <div class="card-text"> 
                                <table class="table table-striped">
                                    <thead>
                                        <th scope="col"> Property </th>
                                        <th scope="col"> Value </th>
                                    </thead>

                                    <tr class="table-success">
                                        <td> Upload files </td>
                                        <td> Unlimited </td>
                                    </tr>

                                    <tr class="table-success">
                                        <td> Limit File Size </td>
                                        <td> Unlimited </td>
                                    </tr>
                                </table>
                            </div>
                            <a href="/" class="btn btn-primary"> Sign Up </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            Hola
        </div>
    </div>

    <%- include("../partials/newFooter") -%> 
</body>
</html>