<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/header') -%>
    <title>Upload file</title>
</head>
<body>
    <%- include('../partials/nav', {active:'u'}) -%>
    <div class="container">
        <div class="form">
            <form class="row g-3 needs-validation" novalidate action="/u" method="post" enctype="multipart/form-data">
                <div>
                    <label for="dirName" class="form-label"> File Name </label>
                    <input type="text" class="form-control" id="dirName" name="dirName">
                    <div class="invalid-feedback">
                        Write the name of file.
                        Remember, the name is before of the first dot (here.*)
                    </div>
                </div>

                <div>
                    <label for="file" class="form-label"> File </label>
                    <input class="form-control" required type="file" name="file" id="file">
                    <div class="invalid-feedback">
                        Upload file
                    </div>
                </div>
                
                <button type="submit" class="btn btn-primary"> Upload File </button>
            </form>
        </div>
    </div>

    <%- include('../partials/footer') -%>
    <%- include('../partials/formValidationScript') -%>
</body>
</html>