<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/header') -%>
    <title>Upload file</title>
</head>
<body>
    <form action="/u" method="post" enctype="multipart/form-data">
        <select required name="type">
            <option value="other">Other</option>
            <optgroup label="Library">
                <option value="lib/mod">Module</option>
            </optgroup>
        </select>
        <input type="text" required id="dirName" name="dirName" placeholder="Name of directory">
        <input required type="file" name="file">
        <input type="submit" value="Upload">
    </form>
</body>
</html>