<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/header') -%>
    <title> Great </title>
</head>
<body class="bg-secondary">
    <div class="container text-center">
        <div class="rounded-3 position-absolute top-50 start-50 translate-middle bg-light">
            <div class="m-4">
                <div class="fs-1">
                    Ready
                </div> 
                <br><br>
                <a href="/" class="btn btn-outline-primary fs-4">Menu</a>
            </div>
        </div>
    </div>
</body>
</html>