/*  */
body  {
	background-color: #e7e7e7;
	opacity: 0;
	transition: opacity 1s;
}

body.hidden {
	opacity: 0;
}
body.showed {
	opacity: 1;
}

/*  */
.icon {
	color: #ca7402 !important;
}

/* Navbar */
.header {
	max-width: 1000px !important;
	margin: auto;
}

/* Footer */
div.footer>div {
	height: 204px;
}

div.footer a.link-dark {
	color: #8b8b8b;
	text-decoration: none;
}