:root {
	--bg-dark-0: #24292e;
	--bg-dark-1: #2f343a;
	--bg-dark-2: #8b8b8b;
}

/* Normalize */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: rgb(29, 160, 212);
}

/*  */
body  {
	background-color: var(--bg-dark-1);
	opacity: 0;
	transition: opacity 1s;
}

body.hidden {
	opacity: 0;
}
body.showed {
	opacity: 1;
}

/*  */
.icon {
	color: #ca7402 !important;
}

/* Navbar */
.header {
	max-width: 1000px !important;
	margin: auto;

	background-color: #2f343a;

	margin-bottom: 0px;
}

.header__title {
	color: ivory;
	letter-spacing: 2px;
}


.form {
	background-color: #24292e;
	color: #e7e7e7;
	
	padding: 2rem;
	margin-top: 1rem;
	margin-bottom: 1rem;

	border-radius: 10px;
}


/* Footer */
div.footer>div {
	height: 204px;
}

div.footer a.link-dark {
	color: #8b8b8b;
	text-decoration: none;
}

@media screen and (max-width: 750px) {
	.header {
		background-color: #24292e;
	}

	body {
		background-color: #24292e;
	}
}