<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../../partials/header") -%> 
    <title> Profile </title>
    <link rel="stylesheet" href="/css/profile.css">
</head>
<body>
    <%- include("../../partials/nav") -%> 

    <div class="parent">
        <div class="left-side">
            <div class="left-side__header">
                <div class="user">
                    <div class="user__userInfo">
                        <div class="user__img"></div>
                        <div class="user__name">
                            <%= user.name %> 
                        </div>
                    </div>
                </div>
                
                <hr>
            </div>

            <div class="left-side__body">
                <div class="left-side-section proyects">
                    <div class="left-side-section__header">
                        <div class="left-side-section__title">
                            Proyects
                        </div>
    
                        <div class="left-side-section__button">
                            <button class="btn btn-success" onclick="NewProyect()">
                                <i class="fas fa-plus"></i>
                                New
                            </button>
                        </div>
                    </div>
                    
                    <div class="left-side-section__body">
                        <div class="proyects-list">
                            <div class="proyects-list-element">
                                <div class="proyects-list-element__icon">
                                    <i class="fas fa-project-diagram"></i>
                                </div>
                                <div class="proyect-list-element__name">
                                    <a href="#" class="proyect-list-element__link">
                                        Test
                                    </a>
                                </div>
                            </div>
    
                            <div class="proyects-list-element">
                                <div class="proyects-list-element__icon">
                                    <i class="fas fa-project-diagram"></i>
                                </div>
                                <div class="proyect-list-element__name">
                                    <a href="#" class="proyect-list-element__link">
                                        Test
                                    </a>
                                </div>
                            </div>
    
                            <div class="proyects-list-element">
                                <div class="proyects-list-element__icon">
                                    <i class="fas fa-project-diagram"></i>
                                </div>
                                <div class="proyect-list-element__name">
                                    <a href="#" class="proyect-list-element__link">
                                        Test
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <main class="main">

        </main>
    </div>

    <script>
        function NewProyect() {
            window.location = window.location.pathname + "/n";
        }
    </script>
</body>
</html>