<footer class="footer position-absolute bottom-0 start-50 translate-middle-x bg-light">
    <div class="container">
        <span class="text-muted"> © copyright 2021 - Apika Luca</span>
    </div>
</footer>