<div class="header">
    <nav class="navbar navbar-expand-lg bg-transparent">
        <div class="container-fluid fw-bolder">
            <a class="navbar-brand fs-3 text-light" href="/">
                <i class="fas fa-boxes fs-2 icon"></i>
                <span class="header__title">Files Storage</span>
            </a>
            
            <div class="navbar-brand">
                <a href="/signin" class="ps-3 pe-3 btn btn-outline-primary"> Sign In </a>
                <a href="/join" class="btn btn-primary"> Sign Up </a>
            </div>
        </div>
    </nav> 
</div>