<div class="footer w-100 bg-dark text-white mt-5">
    <div class="container">
        <div class="row">
            <div class="col-4 text-center pt-4">
                <div class="fs-2">File Storage</div>
                <div class="fs-5">
                    <div>By: Apika Luca</div>
                    <div class="small">
                        Version:  2.0.0
                    </div>
                </div>
            </div>
            
            <div class="col-8 pt-5">
                <div class="row justify-content-end me-0">
                    <ul class="col-3">
                        <li class="fs-4"> <a href="/" class="link-dark"> Sign Up </a></li>
                    </ul>
                    <ul class="col-3">
                        <li class="fs-4"> <a href="/" class="link-dark"> Sign In </a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row pt-4 text-center">
            <div class="col mt-5 align-bottom">Copyright © 2021 Apika Luca</div>
        </div>
    </div>
</div>