<div class="header mb-5">
    <nav class="navbar navbar-expand-lg bg-transparent mb-3 header">
        <div class="container-fluid fw-bolder">
            <a class="navbar-brand fs-3 text-dark" href="/">
                <!-- <i class="bi bi-archive align-bottom fs-2 pb-2 icon"></i> -->
                <i class="fas fa-boxes fs-2 icon"></i>
                <span class="">Files Storage</span>
            </a>
            
            <div class="navbar-brand">
                <a href="/" class="ps-3 pe-3 btn btn-outline-primary"> Log In </a>
                <a href="/" class="btn btn-primary"> Sign In </a>
            </div>
        </div>
    </nav> 
</div>